/* using background colours to demonstrate 
   the box model and how it works with
   respect to margins
*/

p {
	background: lightgreen;
	border: 1px solid black;
}

span {
	background: yellow;
	border: 1px solid black;
}