/* CSS styles for my float demo page */

section {
	width: 1000px;
	margin: auto;
}

.header {
	background: red;
}

.sidebar {
	background: lime;
	width: 300px;
	height: 600px;
	float: left;
}

.main-content {
	background: yellow;
	width: 700px;
	height: 600px;
}

.footer {
	background: orange;
}